/**
 * Metropolis theme for reveal.js.
 * Author: Tom Ranner (T.Ranner at leeds.ac.uk)
 * Base on ideas from mtheme by Matthias Vogelgesang
 * https://github.com/matze/mtheme
 */


// Default mixins and settings -----------------
@import "../static/js/revealjs/css/theme/template/mixins";
@import "../static/js/revealjs/css/theme/template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');


/**
 * Metropolis colors by Matthias Vogelgesang
 */
// colours
// $foreground: #23373b;
// $background: #fafafa;
// $primary:    #eb811b;
// $secondary:   #14b03d;
$foreground: #332c39;
$background: #f0eeed;
$primary:    #c92c6d;
$secondary:   #609ea2;

// Override theme settings (see ../template/settings.scss)
// Background of the presentation
$backgroundColor:$background;

// Primary/body text
$mainFont: 'Fira Sans Light', sans-serif;
$mainFontSize: 40px;
$mainColor: $foreground;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Fira Sans', Impact, sans-serif;
$headingColor: $foreground;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 1.5em;
$heading2Size: 1.5em;
$heading3Size: 1.5em;
$heading4Size: 1.5em;

$codeFont: 'Fira Mono regular', monospace;

// Links and actions
$linkColor: $primary;
$linkColorHover: $secondary;

// Text selection
$selectionBackgroundColor: $background;
$selectionColor: $primary;

.reveal h1:after,
.reveal h2:after,
.reveal h3:after {
  left:0px;
  display:block;
  position:absolute;
  width:100%;
  height:1px;
  margin-top:2px;
  content: " ";
  background: $primary;
}

// Theme template ------------------------------
@import "../static/js/revealjs/css/theme/template/theme";
// ---------------------------------------------

/***
 * custom fragments
 ***/

.fragment.highlight {
    color: $foreground;
}

.fragment.highlight.visible {
    color: $primary;
}

/***
* LOGOS:
***/

.logo {
    display: flex;
    justify-content: space-around;
}

.logo img {
    width: 20%;
    height: auto;
}

/***
* Multiple columns format:
***/

.container{
    display: flex;
}
.col{
    flex: 1;
}

/***
* References section
***/

.references {
    overflow-y: scroll;
    height: 50vh;
    font-size: 60%;
    text-align: left !important;
    margin: 12px 0;
    display: block;
}
